CompileFlags:
  Remove: [-isystem, --target=aarch64-unknown-linux-gnu]
  Add: [-mfloat-abi=hard, --target=armv7-none-unknown-eabihf, -mfpu=neon, -fno-exceptions, -fno-rtti, -std=c++23]
  #Add: [-mfloat-abi=hard, --target=thumbv8.1m.main-unknown-none-eabihf, -mcpu=cortex-m85+nopacbti, -mfpu=fp-armv8-fullfp16-d16, -fno-exceptions, -fno-rtti, -std=c++23]
